@import url('https://fonts.googleapis.com/css?family=Raleway');
p {
	font-family: 'Raleway', sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
h1 {
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 700;
}
.sizeimg {
    width: 100%;
    padding: 0px;
    margin-top: 0px;
  
  .date {
    opacity: 0.65;
    font-size: 18px;
  }
  .desc {
    font-size: 18px;
    line-height: 1.5;
  }
body {
    background-color: #EEEEEE;
}
.container {
    background-color: white;
}